<h1>Startup Weekend Bratislava seeks skilled bloggers</h1>

Weekend starting on 16th November will be filled with startups and hard work.
We want to bring some of it's atmosphere also to people who can't attend.
</br>
That's why we are looking for bloggers willing to write about this special event.
You will get a chance to reach more than <strong>1400</strong> people on our social media channels and <strong>free entry</strong> to the venue.
</br>
</br>
<%= form_for @user, :url =>{ :action => "save_blogger" }, :html => { :method => "post" } do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error fade in out">
      <a class="close" data-dismiss="alert">x</a>
      <b><%= pluralize(@user.errors.count, "error") %> prohibited your account from being created:</b>
      
      <% @user.errors.full_messages.each do |msg| %>
        </br>- <%= msg %>
      <% end %>
    </div>
  <% end %>

  <div class="clearfix">
  	<%= f.label :full_name %>
  	<div class="input">
  		<%= f.text_field :full_name %>
  	</div>
  </div>
  
  <div class="clearfix">
  	<%= f.label :email %>
  	<div class="input">
  		<%= f.text_field :email %>
  	</div>
  </div>
  
  <div class="clearfix">
  	<%= f.label :website %>
  	<div class="input">
  		<%= f.text_field :website %>
  	</div>
  </div>
  </br>
  <div class="actions">
  	<%= f.submit "APPLY", class: "btn btn-large btn-primary" %>
  </div>
<% end %>